.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/js
public/css
public/mix-manifest.json
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
npm-debug.log
.DS_Store
.idea
.vscode
nixpacks.toml
.php-version
railpack.toml
railpack.json
Procfile
